table,
tr,
td {
    border: 1px solid blue;
    
}

.bluetable tr,
.bluetable td{
    border-collapse: collapse;
}

.bluetable td {
    padding: 10px;
}

.blueTable tr:nth-child(even) td:nth-child(even) {
    background-color: red;
    color: red
   }
    
   .blueTable tr:nth-child(odd) td:nth-child(odd) {
    background-color: red;
    color: red
   }
    
   .blueTable tr:nth-child(even) td:nth-child(odd) {
    background-color: blue;
    color: blue
   }
    
   .blueTable tr:nth-child(odd) td:nth-child(even) {
    background-color: blue;
    color: blue
   }